@model Collaborate_lrn_Py.Models.PathViewModel

<h4 align="center">Add  to one of your paths.</h4>
@using (Html.BeginForm("AddTutorialToPath", "Paths", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(model => model.TutorialId)
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.PathSelection, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("PathSelection", null, htmlAttributes: new { @style = "color:black" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="#" class="btn btn-default" value="Add" />
        </div>
    </div>

}
