.profile{
    background-color:inherit;
    padding: 20px 100px 20px 0;
}
    .tobold{
        font-weight:bold;
    }
       .padbtn{
        padding-left:1em;
    }
       .badge{
           background-color:#282b2e;
       }

       .dropdown-menu{
           background-color:#282b2e;
       }