@using Microsoft.AspNet.Identity;
@if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/Profile" class="glyphicon glyphicon-user"></a>
            </li>
            <li>
                <a href="/Profile/Notifications" class="glyphicon glyphicon-bell"><span class="badge"></span></a>
            </li>
            <li>
                <a href="/Manage" class="glyphicon glyphicon-cog"></a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="btn btn-info" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="btn btn-info"})</li>
    </ul>
}
