@model IEnumerable<Collaborate_lrn_Py.Models.Tutorial>

@{
    ViewBag.Title = "Tutorials";
}

<h2>@ViewBag.Title. <small>Teach.</small></h2>

<div align="right">
    @using(Ajax.BeginForm(
        "Index",
        "Tutorials",
        new AjaxOptions
        {
            HttpMethod = "get",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "tutorials"
        }))
    {
        @Html.TextBox("searchTerm")
        <input type="submit" class="btn btn-info" value="Search" /> 
    }
</div>

@Html.Partial("_Tutorials", Model)

@Scripts.Render("~/bundles/jquery")
