@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Tutorial Hub";
}
<link rel="stylesheet" href="~/Content/obsidian.css">
<script src="~/Scripts/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<style>
    .bgimg{
        background-image: url('../images/collaborate.jpg');
    }
    h4{
      color:darkslategrey;
    }
</style>
<div class="container-fluid text-center bg-default">
    <div class="row bg-success">
        <div class="col-md-6">
            <div style="padding:4em">
                <h1>Create</h1>
            <h4>Create custom tutorials and code challenges. Publish them when they're ready.</h4>
            </div>
            
        </div>
        <div class="col-md-6">
        <div align="right" style="padding:1em;margin:1em">
            <img src="~/images/take.png" />
            </div>
        </div>
        </div>
    <div class="row bg-warning"> 
        <div class="col-md-6">

        <div align="left" style="padding:1em;margin:1em">
            <img src="~/images/collab.png" />
        </div>
        </div>
        <div class="col-md-6">
            <div style="padding:4em">
                <h1>Collaborate</h1>
                <h4>
                    Add collaborators to tutorials and code challenges. Customize your workflow and collaborate to synchronize students'
                    learning experiences.
                </h4>
            </div>
            </div>

    </div>
    <div class="row bgimg">
    
    </div>
    <div class="row bg-info">
        <div class="col-md-6">
            <div style="padding:1em">
                <h1>Learn</h1>
                <h4>
                    Learn from the best tutorials. Practice code challenges and receive immediate feedback. Vote on the quality of tutorials
                    code challenges. Create your own custom tutorial Paths and make them public.
                </h4>
            </div>
            </div>
        <div class="col-md-6">

        <div align="right" style="padding:1em;margin:1em">
            <div align="left"><pre style="background-color: #282b2e"><code class="python">def Greet(name):
    print("Welcome to Tutorial Hub, {}.".format(name))
                   
Greet("@User.Identity.GetUserName()")
                
#Welcome to Tutorial Hub, @User.Identity.GetUserName(). 
            </code></pre>
            </div>
        </div>
        </div>
    </div>
</div>   