@model Collaborate_lrn_Py.Models.ApplicationUser

@{ 
    Layout = "~/Shared/_ProfileLayout.cshtml";
}
<div class="row">
    <div class="col-md-9">
        <div>
            @*@foreach (var n in Model.Feed.NotificationsList)
            {
                if (!n.Read)
                {
                    <p>@n.UserName Commented on @n.CollaborativeTutorialTitle!</p>
                    <p>They said @n.Text</p>
                }
            }*@
        </div>
    </div>
</div>
